body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
<<<<<<< HEAD
<<<<<<< HEAD
  padding-top: 70px;
=======
  margin-top: 100px;
>>>>>>> parent of 674e71b... Lost Cause
}

NavLink {
  padding: 20px;
  margin-bottom: 40px;
=======
  margin-top: 100px;
>>>>>>> parent of 674e71b... Lost Cause
}

